<ion-view view-title="我的社团">
<ion-nav-buttons side="left">
        <a class="button button-clear icon ion-reply" href="index.html#/tab/sheTuan"></a>
    </ion-nav-buttons>
  <ion-content padding="true">

<div class="list" id="mySheTuan">
         <div class="item item-avatar" ng-repeat="sheTuan in messageData[0].sheTuanList">
				 <div align="center">
					<img ng-if="sheTuan.tuBiao" ng-src={{ENV.imgUrl}}{{sheTuan.tuBiao}}>
					<img ng-if="!sheTuan.tuBiao" ng-src="img/ionic.png">
				 </div>
					<h3 >社团名称：{{sheTuan.mingCheng}}</h3>		
					<h3>负责人：{{sheTuan.sheTuanFuZeRen}}</h3>
					<h3>创建时间：{{sheTuan.chuangJianRiQi}}</h3>
					<h3>微信群：{{sheTuan.weiXinQun}}</h3>
					<h3>QQ群：{{sheTuan.qqQun}}</h3>
					<h3>社团简介：</h3>
					<h3>{{sheTuan.jianJie}}</h3>
		 </div>
		 <div>
				<button class="button icon ion-edit" ng-click="xiuGai()">修改</button>
				<button class="button icon ion-edit" ng-click="faBuHuoDong()">发布活动</button>
        </div>
</div>

    </ion-content>
<script id="sheTuanXiuGai.html" type="text/ng-template">
        <ion-modal-view>
			 <ion-header-bar class="bar-positive">
					<h1 class="title">社团修改</h1>
					<a class="button" ng-click="close();">关闭</a>	
				</ion-header-bar>
            <ion-content>
			<form>
                <div class="padding">
						<div class="list">
							<div class="item">
								<div class="buttons">
									<button class="button button-small button-balanced" ng-click="addPhoto();">修改图片</button>							
								</div>
							</div>
							
							<div class="item" ng-show="imageSrc != undefined">
								<img ng-src="{{imageSrc}}" class="full-image" style="width:150px;height:150px;"/>
							</div>
						</div>
                    <div class="list">
                        <label class="item item-input">
                            <span class="input-label">负责人：</span>
                            <input ng-model="xiuGaiData.sheTuanFuZeRen" type="text">
                        </label>
						 <label class="item item-input">
                            <span class="input-label">创建时间(点击修改时间)：</span>
                            <input ng-model="xiuGaiData.chuangJianRiQi"  type="date">
                        </label>
                        <label class="item item-input">
                            <span class="label">微信群:</span>
                            <input ng-model="xiuGaiData.weiXinQun" type="text">
                        </label>
						<label class="item item-input">
                            <span class="input-label">QQ群：</span>
                            <input ng-model="xiuGaiData.qqQun" type="text">
                        </label>
                        <label class="item">
                            <span class="input-label">社团简介：</span>
                            <textarea ng-model="xiuGaiData.jianJie" style="width: 100%;height: 100%"></textarea>
                        </label> 
                        <button class="button button-full button-positive" ng-click="save();">保存</button>
                    </div>
                </div>
			</form>
            </ion-content>
        </ion-modal-view>
    </script>
	<script id="faBuHuoDong.html" type="text/ng-template">
        <ion-modal-view>
			 <ion-header-bar class="bar-positive">
					<h1 class="title">发布活动</h1>
					<a class="button" ng-click="close2();">关闭</a>	
				</ion-header-bar>
            <ion-content>
			<form>
                <div class="padding">
                    <div class="list">
                        <label class="item item-input">
                            <span class="input-label">活动名称：</span>
                            <input ng-model="huoDongXinXiData.huoDongMingCheng" type="text">
                        </label>
						 <label class="item item-input">
                            <span class="input-label">负责人：</span>
                            <input ng-model="huoDongXinXiData.fuZeRen"  type="text">
                        </label>
                        <label class="item">
                            <span class="label">目的:</span>
                            <textarea ng-model="huoDongXinXiData.muDi" style="width: 100%;height: 100%"></textarea>
                        </label>
						<label class="item item-input">
                            <span class="input-label">报名时间：</span>
                            <input ng-model="huoDongXinXiData.baoMingShiJian" type="date">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">活动时间：</span>
                            <input ng-model="huoDongXinXiData.huoDongShiJian" type="date">
                        </label> 
						<label class="item item-input">
                            <span class="input-label">活动地点：</span>
                            <input ng-model="huoDongXinXiData.diDian" type="text">
                        </label> 
                        <button class="button button-full button-positive" ng-click="faBu();">发布</button>
                    </div>
                </div>
			</form>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>
