
<ion-view hide-tabs title="活动详情">

    <ion-content padding="true">

        <div class="first_huoDong">
           <div align="center">
		    <h3 >{{ZXHDContentData[0]['huoDongMingCheng']}}</h3>
            </div>
            <h3 >举办方：{{ZXHDContentData[0]['wuPinMingCheng']}}</h3>
            <h3>活动目的：{{ZXHDContentData[0]['muDi']}}</h3>
            <h3>负责人：{{ZXHDContentData[0]['fuZeRen']}}</h3>
            <h3>报名时间：{{ZXHDContentData[0]['baoMingShiJian']}}</h3>
			<h3>活动时间:{{ZXHDContentData[0]['huoDongShiJian']}}</h3>
            <h3>地点：{{ZXHDContentData[0]['diDian']}}</h3>
			<h3>QQ号：{{ZXHDContentData[0]['qqHaoMa']}}</h3>
        </div>
</ion-view>