<ion-view view-title="校园交易">
<ion-nav-buttons side="right">
        <button menu-toggle="right" class="button" ng-click="faBu()">发布</button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-refresher
                pulling-text="下拉刷新..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div ng-if="showloading" style="margin-top:60px; text-align: center">
            <ion-spinner icon="android" style="height: 60px; width: 60px;;"></ion-spinner>
        </div>
        <ion-list class="topics_list" ng-if="showloading==false">
            <ion-item class="item-thumbnail-left" collection-repeat="topic in jiaoYilListData"
                      collection-item-width="100%" collection-item-height="88px" href="#/tab/jiaoYi_content/{{topic.id}}">
                <img ng-if="topic.wuPinTuPian" ng-src={{ENV.imgUrl}}{{topic.wuPinTuPian}}>
                <img ng-if="!topic.wuPinTuPian" ng-src="img/ionic.png">
				<h2>物品名称：{{topic.wuPinMingCheng}}</h2>
				<h2>发布时间：{{topic.faBuShiJian}}</h2>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll   on-infinite="loadMore()"  distance="1%" ng-if="hasNextPage()">        </ion-infinite-scroll>
    </ion-content>
	<script id="faBu.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar-positive">
                <h1 class="title">发布交易</h1>
                <a class="button" ng-click="close();">关闭</a>
            </ion-header-bar>
            <ion-content>
			<form>
                <div class="padding">
						<div class="list">
							<div class="item">
								<div class="buttons">
									<button class="button button-small button-balanced" ng-click="addPhoto();">添加实物图片</button>								
								</div>
							</div>
							
							<div class="item" ng-show="imageSrc != undefined">
								<img ng-src="{{imageSrc}}" class="full-image" style="width:150px;height:150px;"/>
							</div>
						</div>
                    <div class="list">
                        <label class="item item-input">
                            <span class="input-label">物品名称：</span>
                            <input ng-model="jiaoYiData.wuPinMingCheng" type="text">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">价格：</span>
                            <input ng-model="jiaoYiData.wuPinJiaGe" type="text">
                        </label>
                        <label class="item">
                            <span class="label">物品描述:</span>
                            <textarea ng-model="jiaoYiData.wuPinmiaoShu"  style="width: 100%;height: 100%"></textarea>
                        </label>
                        <button class="button button-full button-positive" ng-click="uploadPhoto();">发布</button>
                    </div>
                </div>
			</form>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>
